# CopyLeft 2026 github.com/sepiol026-wq | telegram:@samsepi0l_ovf. Licensed under AGPLv3.
aerich
aiohttp==3.11.0
aiosqlite
cachetools
coloredlogs
toml
tortoise-orm
PyGithub
pyjwt[crypto]>=2.8
fastapi
uvicorn
goygram>=0.7.27
aiohttp-socks>=0.10.1
rich>=13.7
